<div class="table-image" [ngStyle]="{ 'background-image': 'url(' + table + ')','height':'100%','width':'100%'}">
  <div class="board-image" [ngStyle]="{ 'background-image': 'url(' + board + ')'}">
    <div id="message">{{ status.description }}</div>
    <div class="cardpile" (click)="frits()">
      <img class="card" src={{card}} *ngFor="let number of numbers" [ngStyle]="{'margin-top.%': number*1.6 }" />
    </div>

    <div [id]="'pile0'" [ngClass]="{'pile': true, 'joker': true, 'empty': game.jokers.cards.length < 1, 'open': selectedCard, 'show' : true}" (click)="placeCard($event)">
      <img class="card" *ngFor="let c of game.jokers.cards; let number = index;" [src]="cardloc + c + '.png'" [ngStyle]="{'margin-top.%': number }" />
    </div>

    <div *ngFor="let p of game.piles; let i = index;" [id]="'pile' + p.id" [ngClass]="{'pile': true, 'empty': p.cards.length < 1, 'open': selectedCard, 'show' : showOpen}" [ngStyle]="{'margin-top.%': i%4 * 16,'margin-left.%': this.Math.floor(i/4) * 12}" (click)="placeCard($event)">
      <img class="card" *ngFor="let c of p.cards; let number = index;" [src]="cardloc + c + '.png'" [ngStyle]="{'margin-top.%': number }" />
    </div>

    <button id="newgame" [ngStyle]="{'background-image': 'url(' + refresh + ')'}" (click)="newGame()"></button>
    <img class="handcard" *ngFor="let c of game.hand.cards; let i = index" [id]="'card' + i" [src]="cardloc + c + '.png'" [ngStyle]="{'margin-left.%': i*6}" (click)="select($event)" />
  </div>
</div>
